FirstRayTracingWindows/FirstRayTracingWindows/Release/
FirstRayTracingWindows/FirstRayTracingWindows/Debug/
FirstRayTracingWindows/FirstRayTracingWindows/.vs/
FirstRayTracingWindows/FirstRayTracingWindows/packages/
FirstRayTracingWindows/FirstRayTracingWindows/packages.config
FirstRayTracingWindows/FirstRayTracingWindows/FirstRayTracingWindows.aps
FirstRayTracingWindows/FirstRayTracingWindows/FirstRayTracingWindows.rc
FirstRayTracingWindows/FirstRayTracingWindows/FirstRayTracingWindows.sln
FirstRayTracingWindows/FirstRayTracingWindows/FirstRayTracingWindows.vcxproj
FirstRayTracingWindows/FirstRayTracingWindows/FirstRayTracingWindows.vcxproj.filters
FirstRayTracingWindows/FirstRayTracingWindows/FirstRayTracingWindows.vcxproj.user
