FirstRayTracingWindows/FirstRayTracingWindows/img/
FirstRayTracingWindows/FirstRayTracingWindows/imgCube/
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/.suo
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/Browse.VC.db
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/Browse.VC.db-shm
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/Browse.VC.db-wal
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/Browse.VC.opendb
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/19850660423be681/UTILITYRAYTRACING.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/20baec98871b7e4b/PARALLELCAMERA.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/2be1730cabe9e6aa/UTILITYSDL.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/3142535f3401bdf8/UTILITYRAYTRACING.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/3728e4899b108317/TRIANGLE.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/3e797009fd99aac5/VEC3.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/4710956b9169901a/QUADRILATERAL.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/50c28cc501000058/MAIN.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/5520db2f7afa52fc/UTILITYSDL.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/58fc8a6011c3086e/SPHERE.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/5fb8fcf6b7fd8498/CAMERA.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/690134ca24bca6aa/RAY.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/73cd99fa9c65c7db/RAYTRACING.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/76391bd375169129/RAYTRACING.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/9dec80e390796ed7/POINT3D.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/ad1b3c76acd0c58d/OBJECT_LIST.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/ae57df9343cd4e0/RAYTRACINGANIMATIONUNIVERSE.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/af40f0fae2d024a6/DISK.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/b707e7103ff2ac3b/OBJECT_LIST.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/bb5d47ca70c94d55/PLANE.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/c2f322172ab9e80f/UTILITYSDL.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/ca6fd19b1682f0d8/GENERICCAMERA.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/cba2ebfbb530d0a2/RAYTRACINGANIMATIONCUBE.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/d62f44b372e26bca/BOX.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/e9d5a3c38b0566c6/MAIN.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/eb77c8334c0f3d44/SPHERE.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/f0c140f6b9ef6cb6/UTILITYSDLINLINE.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/ipch/AutoPCH/fd891987172d60f1/OBJECT.ipch
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/TestStore/0/000.testlog
FirstRayTracingWindows/FirstRayTracingWindows/.vs/FirstRayTracingWindows/v16/TestStore/0/testlog.manifest
img/
imgCube/
